.container {
  height: 400px;
  width: 1000px;
  background-color: cyan;
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.child1,
.child2,
.child3 {
  border: 2px solid;
  height: 300px;
  width: 200px;
}
.child1 {
  background-color: rgb(148, 138, 138);
  display: flex;
  gap: 4px;
  flex-basis:50%;
}
.child2 {
  background-color: rgb(209, 91, 91);
}
.child3 {
  background-color: rgb(146, 14, 14);
}
.child11,
.child12,
.child13,
.child14 {
  border: 2px dotted black;
 
}
.child11{
    background-color: rgb(49, 197, 81);
    flex-basis:30%;
}
.child12{
    background-color: rgb(198, 57, 135);
}

.child13{
    background-color: rgb(202, 195, 63);
}

.child14{
    background-color: rgb(103, 20, 228);
}

